@import url('https://fonts.googleapis.com/css?family=Oswald:300,500');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #393939;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    display: grid;
    place-items: center;
}

.container {
    border-radius: 15px;
    padding: 2rem;
    color: white;
    letter-spacing: .5rem;
    animation: rainbow-bg 5.5s linear;
    animation-iteration-count: infinite;
}



/* RAINBOW ANIMAÇÃO */
@keyframes rainbow-bg {

    100%,
    0% {
        box-shadow: 0 0 15px 1px rgb(255, 0, 0);
    }

    8% {
        box-shadow: 0 0 15px 1px rgb(255, 127, 0);
    }

    16% {
        box-shadow: 0 0 15px 1px rgb(255, 255, 0);
    }

    25% {
        box-shadow: 0 0 15px 1px rgb(127, 255, 0);
    }

    33% {
        box-shadow: 0 0 15px 1px rgb(0, 255, 0);
    }

    41% {
        box-shadow: 0 0 15px 1px rgb(0, 255, 127);
    }

    50% {
        box-shadow: 0 0 15px 1px rgb(0, 255, 255);
    }

    58% {
        box-shadow: 0 0 15px 1px rgb(0, 127, 255);
    }

    66% {
        box-shadow: 0 0 15px 1px rgb(0, 0, 255);
    }

    75% {
        box-shadow: 0 0 15px 1px rgb(127, 0, 255);
    }

    83% {
        box-shadow: 0 0 15px 1px rgb(255, 0, 255);
    }

    91% {
        box-shadow: 0 0 15px 1px rgb(255, 0, 127);
    }
}